<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-searchbar></ion-searchbar>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="container">
  <ion-card>
    <img alt="7" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCL/17099057_1/w=1500,h=1500,fit=pad" />
    <ion-card-header>
      <ion-card-title>Notebook Gamer Acer Nitro V15 </ion-card-title>
      <ion-card-subtitle>precio: $859.990 clp</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    Contiene Intel Core i5 8 Núcleos 16GB RAM 512GB SSD NVIDIA RTX 3050.
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
