*{
    background-color: antiquewhite;
}

.pro{
    text-align: center;
    background-color: rgb(247, 247, 247);
}

.btn{
    text-align: center;
}

.btn_carro_1{
    text-align: center;
    margin-right: auto;
}