.p{
    justify-content:start ;
   
}

.recordar{
    text-align: end;
}

.Inicio{
    justify-content: center;
}

.boton{
    text-align: center;
}
.boton_registro{
    text-align:center;
}
.login{
text-align: center;
}