.center-img {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 50vh;           /* Ocupa toda la altura de la pantalla */
}

img {
    max-width: 100%;         /* Asegura que la imagen no se salga del contenedor */
    height: auto;            /* Mantiene la proporción de la imagen */
}
